@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");
.ovan-online .list-social.list-tiktok {
  padding-bottom: 250px; }

@media only screen and (max-width: 1601px) {
  .page-detail .content-description {
    padding-left: 25px; }

  .container {
    max-width: 1280px; }

  .add-to-cart .btn-common {
    padding: 14px 10px 10px 10px; } }
@media only screen and (max-width: 1201px) {
  .section-cart.pt-0 .container .row .col-md-8 .box-shadow tbody tr td {
    padding: 20px 5px 15px 5px !important; }

  .section-cart.pt-0 .container .row .col-md-8 .box-shadow tbody tr:last-child {
    border-bottom: inherit; }

  header .logo img {
    height: 40px !important; }
  header .content-head {
    padding-right: 40px; }
    header .content-head .search-head input {
      padding-right: 200px; }

  .page-list-store .select_liststore .btn-common {
    padding: 8px 5px 0 5px;
    font-size: 13px; }
    .page-list-store .select_liststore .btn-common i {
      margin-right: 2px;
      margin-left: 0; }

  .pagging-page .pagination a {
    margin: 0 24px; }

  /*-------------------------------------------------------------------- page about ----------------------------------------------------------------------*/
  .page-about .product-promotion .col-infor-promo {
    padding: 20px; }
  .page-about .head-footer .item-head-footer {
    display: inherit;
    text-align: center;
    justify-content: space-evenly;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 20px; }
    .page-about .head-footer .item-head-footer .text-head-ft {
      padding-top: 10px;
      a: nth-child(2); }
  .page-about .head-footer .text-head-ft {
    text-align: center; }

  /*-------------------------------------------------------------------- footer ----------------------------------------------------------------------*/
  footer .head-footer.p30 {
    padding: 40px; }
  footer .main-footer {
    padding: 30px 25px 4px 25px !important; }
    footer .main-footer .info-footer {
      padding: 0 15px; }
      footer .main-footer .info-footer p {
        font-size: 12px; }
      footer .main-footer .info-footer.download-app p {
        font-size: 14px; }
      footer .main-footer .info-footer.download-app a:nth-child(3) img {
        margin: 10px 0; }
      footer .main-footer .info-footer .download-app img {
        height: 40px; }
  footer .linh-vuc-hd {
    padding: 100px; } }
/*-------------------------------------------------------------------- ipad-doc ----------------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  body {
    max-width: 600px;
    margin: auto; }

  .list-product .col-md-9 .col-md-4 .info-product {
    padding: 20px 15px 10px 15px; }
    .list-product .col-md-9 .col-md-4 .info-product .new-price {
      margin-right: 6px; }
    .list-product .col-md-9 .col-md-4 .info-product .old-price {
      margin-right: 6px; }

  .breadcrumbs {
    margin-top: 60px; }

  .section-gallery .col-md-2 {
    flex: 0 0 50%;
    max-width: 50%; }

  /*-------------------------------------------------------------------- page about ----------------------------------------------------------------------*/
  .page-about .container {
    max-width: 100%; }
  .page-about .linh-vuc-hd {
    padding-top: 120px;
    padding-right: 15px; }
    .page-about .linh-vuc-hd .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 0; }
      .page-about .linh-vuc-hd .col-md-4 .info-lv {
        margin-top: 10px;
        padding: 5px 0;
        margin: 8px 0 !important; }
        .page-about .linh-vuc-hd .col-md-4 .info-lv p {
          font-size: 13px; }
        .page-about .linh-vuc-hd .col-md-4 .info-lv i.ti-arrow-right {
          margin-left: 6px;
          font-size: 13px; }
        .page-about .linh-vuc-hd .col-md-4 .info-lv a.btn-common {
          padding: 8px 10px 10px 10px;
          height: 35px;
          font-size: 12px; }

  /*-------------------------------------------------------------------- page he thong chi nhanh ----------------------------------------------------------------------*/
  .he-thong-cua-hang.mt-40 .box-store .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%; }
  .he-thong-cua-hang .title-section {
    margin-bottom: 15px; }
  .he-thong-cua-hang .box-store {
    padding: 20px 0px 20px 0px; }
    .he-thong-cua-hang .box-store .select_liststore {
      flex-wrap: wrap; }
      .he-thong-cua-hang .box-store .select_liststore .form-group {
        width: 50%;
        padding: 0px 5px;
        margin-right: 0;
        margin-bottom: 20px; }
      .he-thong-cua-hang .box-store .select_liststore a.btn-common {
        width: 100%; }
        .he-thong-cua-hang .box-store .select_liststore a.btn-common .ti-location-pin {
          margin-left: 0px; }
      .he-thong-cua-hang .box-store .select_liststore .btn-common {
        height: 40px;
        width: initial !important; }
    .he-thong-cua-hang .box-store .list_mapstore {
      margin: 20px 0;
      padding: 0px; }
      .he-thong-cua-hang .box-store .list_mapstore .item-location {
        padding: 25px 25px 5px 25px; }
    .he-thong-cua-hang .box-store .col-md-6.pl-0 {
      margin-top: 0px;
      padding-left: 25px !important;
      padding-right: 25px !important; }

  /*-------------------------------------------------------------------- page lien he ----------------------------------------------------------------------*/
  .page-contact .form-contact .container {
    margin-bottom: 50px; }
  .page-contact .he-thong-cua-hang .title-section {
    margin-bottom: 0px; }
  .page-contact .he-thong-cua-hang .content-hotline {
    display: inline-block;
    padding-bottom: 30px;
    text-align: center;
    margin: 0 35px 0; }
    .page-contact .he-thong-cua-hang .content-hotline .icon-contact {
      padding-right: 0; }
    .page-contact .he-thong-cua-hang .content-hotline .info {
      margin-top: 10px; }
  .page-contact .form-contact {
    padding: 0; }
    .page-contact .form-contact .box-shadow {
      padding: 25px 15px 40px; }
      .page-contact .form-contact .box-shadow .btn-common {
        display: flex;
        align-items: center;
        justify-content: center; }
    .page-contact .form-contact .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%; }

  /*-------------------------------------------------------------------- page tin tuc ----------------------------------------------------------------------*/
  .page-news .section-news-lager {
    padding: 30px 0; }
    .page-news .section-news-lager .col-md-8 {
      flex: 0 0 50%;
      max-width: 50%; }
    .page-news .section-news-lager .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%; }
      .page-news .section-news-lager .col-md-4 .title-news.lager a {
        font-size: 20px !important; }
    .page-news .section-news-lager .infor-news .content-title-news a {
      font-size: 24px !important; }
  .page-news .section-list-news {
    padding: 10px 0 40px; }
    .page-news .section-list-news .col-md-4, .page-news .section-list-news .col-md-3 {
      flex: 0 0 50%;
      max-width: 50%; }
    .page-news .section-list-news .infor-news.mt-10.mb-30 {
      margin-top: 6px; }
  .page-news .detail-news .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 30px; }
  .page-news .detail-news .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%; }

  /*-------------------------------------------------------------------- page chinh sach bao mat ----------------------------------------------------------------------*/
  .banner-head-policy.mt-20.mb-20 img {
    height: 150px; }

  .detail-policy {
    padding: 20px 0; }
    .detail-policy .title-detail.mb-30 {
      margin-bottom: 12px; }

  /*-------------------------------------------------------------------- page brochure ----------------------------------------------------------------------*/
  .page-brochure .sp-noibat-page-about {
    padding: 0; }
    .page-brochure .sp-noibat-page-about .pagging-page {
      margin-bottom: 50px;
      margin-top: -25px; }
  .page-brochure .list-product .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%; }
  .page-brochure .section-nhan-hang-noibat .ds-nhan-hang {
    padding: 0px; }

  /*-------------------------------------------------------------------- page brochure-detail ----------------------------------------------------------------------*/
  .page-brochure-detail .list-product .banner-vertical.thumnaisl-avatar a {
    padding-top: 150%; }

  .page-brochure-detail .sp-noibat-page-about {
    padding: 50px 0 50px; }
    .page-brochure-detail .sp-noibat-page-about .list-product .col-md-9 {
      flex: 0 0 100%;
      max-width: 100%; }
      .page-brochure-detail .sp-noibat-page-about .list-product .col-md-9 .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%; }
    .page-brochure-detail .sp-noibat-page-about .list-product .col-md-3 {
      flex: 0 0 100%;
      max-width: 100%; }
  .page-brochure-detail .info-head-brochure .flexs {
    text-align: -webkit-center;
    display: inherit; }
    .page-brochure-detail .info-head-brochure .flexs .info-nhan-hang {
      width: 100%; }
      .page-brochure-detail .info-head-brochure .flexs .info-nhan-hang .title-section {
        text-align: center; }
  .page-brochure-detail .info-head-brochure .info-nhan-hang {
    padding-left: 0px; }
    .page-brochure-detail .info-head-brochure .info-nhan-hang .btn-common {
      margin: 5px; }
  .page-brochure-detail .list-social {
    padding: 40px 0; }
    .page-brochure-detail .list-social .top-social .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 20px 30px; }
  .page-brochure-detail .section-gallery.pt-0.pb-0 {
    margin-top: 180px; }
  .page-brochure-detail .sp-noibat-page-about .list-product .col-md-4 .item-product .info-product {
    padding: 20px 10px 10px 10px; }
    .page-brochure-detail .sp-noibat-page-about .list-product .col-md-4 .item-product .info-product .btn-common {
      padding: 8px 10px 10px 10px;
      font-size: 12px;
      height: 35px; }
      .page-brochure-detail .sp-noibat-page-about .list-product .col-md-4 .item-product .info-product .btn-common .ti-arrow-right {
        margin-left: 6px;
        font-size: 13px; }

  /*-------------------------------------------------------------------- page ovan-online ----------------------------------------------------------------------*/
  .ovan-online .banner-horizontal.banner-about .product-promotion {
    padding-left: 0px; }
  .ovan-online .section-website {
    padding-top: 80px; }
    .ovan-online .section-website .title-section {
      margin: 20px 0 5px 0; }
    .ovan-online .section-website .row .col-md-4 {
      width: 50%; }
      .ovan-online .section-website .row .col-md-4 .info-web {
        padding: 0 0 15px; }
    .ovan-online .section-website .row .col-md-12.center.mt-20 .btn-common {
      width: 100%; }
  .ovan-online .section-website.section-youtube .title-section .info-web {
    padding: 0; }
  .ovan-online .section-website.section-youtube .row .col-md-4 {
    padding: 5px; }
    .ovan-online .section-website.section-youtube .row .col-md-4 .info-web {
      margin: 10px 0 !important;
      padding: 30px 15px !important; }
      .ovan-online .section-website.section-youtube .row .col-md-4 .info-web .btn-common {
        padding: 8px 10px 10px 10px;
        height: 35px;
        font-size: 12px; }
        .ovan-online .section-website.section-youtube .row .col-md-4 .info-web .btn-common .ti-arrow-right {
          margin-left: 6px;
          font-size: 13px; }
  .ovan-online .list-social.list-tiktok {
    padding: 80px 0 210px 0; }
    .ovan-online .list-social.list-tiktok .title-section {
      margin: 20px 0 20px 0; }
    .ovan-online .list-social.list-tiktok .row.top-social .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%; }
    .ovan-online .list-social.list-tiktok .row.top-social .box-social {
      padding: 15px 0px 5px 55px;
      margin: 15px 5px; }
      .ovan-online .list-social.list-tiktok .row.top-social .box-social .social-nhan-hang {
        width: 60px; }
      .ovan-online .list-social.list-tiktok .row.top-social .box-social .info-social p {
        padding: 0 20px 0 0; }
    .ovan-online .list-social.list-tiktok .row.top-social .col-md-12.btn-action.center.mt-20 .btn-common {
      width: 100%; }

  .ovan-online .product-promotion .col-avatar-promo .box-thumnails-pro .img-small {
    right: inherit;
    left: 0; }

  /*-------------------------------------------------------------------- page trang chu ----------------------------------------------------------------------*/
  .section-product {
    padding: 40px 0px; }
    .section-product .pattern {
      top: -150px; }
    .section-product .list-product .col-md-3 {
      flex: 0 0 100%;
      max-width: 100%;
      padding-bottom: 40px; }
    .section-product .list-product .col-md-9 {
      flex: 0 0 100%;
      max-width: 100%; }
      .section-product .list-product .col-md-9 .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%; }
    .section-product.sp-theo-cong-dung.mb-50 {
      padding-top: 100px;
      margin-top: 30px; }
      .section-product.sp-theo-cong-dung.mb-50 .content-sp-theo-cong-dung .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%; }
        .section-product.sp-theo-cong-dung.mb-50 .content-sp-theo-cong-dung .col-md-4 .content {
          border-right: inherit;
          margin: 20px -15px; }

  .btn-action.center .btn-common {
    width: initial; }

  .section-slider-home {
    padding: 10px 10px 30px; }

  .banner-horizontal.banner-position-left .product-promotion .col-avatar-promo .box-thumnails-pro .img-small {
    right: initial;
    left: 0; }

  .banner-horizontal .container {
    padding: 20px 20px 80px; }
    .banner-horizontal .container .col-infor-promo {
      padding: 40px 0; }

  .banner-horizontal.banner-position-left .product-promotion {
    padding-left: initial; }

  .product-promotion .col-avatar-promo {
    position: relative;
    max-width: 40%;
    width: 100%;
    top: initial;
    right: inherit; }

  .product-promotion {
    display: inline-block; }

  .col-infor-promo, .col-avatar-promo {
    width: 100%;
    max-width: 100% !important; }

  .product-promotion .col-avatar-promo .box-thumnails-pro .img-small {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 150px;
    z-index: 9; }

  .thumnaisl-avatar {
    position: relative; }

  .product-promotion .col-avatar-promo .box-thumnails-pro .thumnaisl-avatar::before {
    display: none !important; }

  .page-about .product-promotion .col-infor-promo {
    padding: 40px 0; }

  .col-avatar-promo {
    position: relative; }
    .col-avatar-promo .img-lagre {
      padding-left: 100px; }

  .product-promotion .col-avatar-promo .box-thumnails-pro {
    position: initial !important; }

  /*-------------------------------------------------------------------- page danh muc ----------------------------------------------------------------------*/
  .page-danh-muc-sp .section-nhan-hang .thumnaisl-avatar {
    width: 48%; }
  .page-danh-muc-sp .list-product .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%; }
    .page-danh-muc-sp .list-product .col-md-4 .item-product .info-product {
      padding: 20px 5px 10px 5px; }

  /*-------------------------------------------------------------------- page detail ----------------------------------------------------------------------*/
  .number-buy .product-quantity {
    height: 45px;
    width: 150px; }
  .number-buy .add-to-cart .btn-common {
    height: 45px;
    padding: 10px 10px 10px 10px;
    font-size: 13px; }

  .page-detail .head-product-detail .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%; }
  .page-detail .head-product-detail .col-md-5 {
    padding-top: 30px;
    flex: 0 0 100%;
    max-width: 100%; }
    .page-detail .head-product-detail .col-md-5 .infor-product-detail .number-buy {
      padding: 20px 0; }
    .page-detail .head-product-detail .col-md-5 .infor-product-detail .affiliate.mb-20 {
      margin-bottom: 50px; }
  .page-detail .section-feeback-detail.mb-50 .content-feedback {
    display: inherit; }
    .page-detail .section-feeback-detail.mb-50 .content-feedback .col-avatar-feedback {
      width: 100%;
      max-width: inherit; }
      .page-detail .section-feeback-detail.mb-50 .content-feedback .col-avatar-feedback .img-small {
        top: 175px; }
    .page-detail .section-feeback-detail.mb-50 .content-feedback .col-info-feedback {
      padding: 0px;
      width: 100%;
      max-width: inherit; }
  .page-detail .sticky-cart-product.show-sticky-cart-product {
    left: 0;
    padding: 25px 0 10px 0;
    width: 100%; }
    .page-detail .sticky-cart-product.show-sticky-cart-product .box-sticky {
      padding-left: 150px;
      display: inherit; }

  /*-------------------------------------------------------------------- page-cart ----------------------------------------------------------------------*/
  .section-cart.pt-0 .container .row {
    display: inherit; }
    .section-cart.pt-0 .container .row .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 0px; }
      .section-cart.pt-0 .container .row .col-md-8 .box-shadow {
        padding: 20px; }
        .section-cart.pt-0 .container .row .col-md-8 .box-shadow tbody tr {
          padding-left: 40px; }
          .section-cart.pt-0 .container .row .col-md-8 .box-shadow tbody tr .product-remove {
            width: 30px; }
          .section-cart.pt-0 .container .row .col-md-8 .box-shadow tbody tr td {
            padding: 5px; }
            .section-cart.pt-0 .container .row .col-md-8 .box-shadow tbody tr td.product-thumbnail {
              padding-left: 5px !important; }
            .section-cart.pt-0 .container .row .col-md-8 .box-shadow tbody tr td .product-quantity {
              width: 110px;
              padding: 0 12px; }
    .section-cart.pt-0 .container .row .col-md-4.pl-0 {
      margin-top: 40px;
      flex: 0 0 100%;
      max-width: 100%; }
      .section-cart.pt-0 .container .row .col-md-4.pl-0 .show-add-address.mt-20 .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%; }
        .section-cart.pt-0 .container .row .col-md-4.pl-0 .show-add-address.mt-20 .col-md-6.pr-0 .form-group {
          padding-right: 15px; }

  /*-------------------------------------------------------------------- page-Cart-success ----------------------------------------------------------------------*/
  .success-page {
    font-size: 13px; }
    .success-page .section-cart.pt-0 .row.head-order-detail {
      display: flex; }
    .success-page .section-cart.pt-0 .title-section {
      margin: 20px 0 15px 0; }
      .success-page .section-cart.pt-0 .title-section h2 a {
        font-size: 24px; }

  /*-------------------------------------------------------------------- page-profile ----------------------------------------------------------------------*/
  .page-profile .section-acc.pt-0 {
    margin-top: 50px; }
    .page-profile .section-acc.pt-0 .tabs-info.mt-60 {
      margin-top: 50px; }
      .page-profile .section-acc.pt-0 .tabs-info.mt-60 ul {
        flex-wrap: inherit; }
      .page-profile .section-acc.pt-0 .tabs-info.mt-60 .tab-content.mt-30 .has-cart .col-md-12 {
        padding-right: 75px; }
      .page-profile .section-acc.pt-0 .tabs-info.mt-60 .tab-content.mt-30 .center.mt-40 {
        margin: 20px 0 40px; }

  .product-promotion .col-infor-promo .btn-common {
    margin: 5px 10px 5px 0; }

  .list-product .banner-vertical.thumnaisl-avatar a {
    padding-top: 150%; }

  .col-infor-promo p {
    padding-right: 0px; }

  /*-------------------------------------------------------------------- page-list-store ----------------------------------------------------------------------*/
  .page-list-store .he-thong-cua-hang.pt-0 .box-store .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%; }
  .page-list-store .he-thong-cua-hang.pt-0 .box-store .col-md-6.pl-0 {
    margin-top: -60px; }

  /*-------------------------------------------------------------------- footer  ----------------------------------------------------------------------*/
  .head-footer.p30 .container .col-md-3 {
    margin: 20px 0;
    flex: 0 0 50%;
    max-width: 50%; }
    .head-footer.p30 .container .col-md-3 .item-head-footer {
      padding-right: 5px;
      display: inherit;
      border-right: inherit;
      text-align: center; }
      .head-footer.p30 .container .col-md-3 .item-head-footer .text-head-ft {
        text-align: center; }

  footer .head-footer.p30 .container .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%; }
  footer .main-footer {
    display: inherit !important; }
    footer .main-footer .info-footer {
      width: 50%;
      float: left;
      margin-top: 20px;
      font-size: 13px; }
      footer .main-footer .info-footer .social {
        display: inherit; }
    footer .main-footer .info-footer:first-child {
      width: 100%;
      float: left;
      text-align: center; }
      footer .main-footer .info-footer:first-child img {
        max-width: 115px; }
  footer .copy-right {
    display: inline-block;
    width: 100%; } }
/*-------------------------------------------------------------------------mobile--------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .page-404 {
    margin-top: 40px; }

  .ovan-online .list-social.list-tiktok .row.top-social .box-social {
    padding: 20px 5px;
    display: inherit;
    text-align: center; }
    .ovan-online .list-social.list-tiktok .row.top-social .box-social .social-nhan-hang {
      margin-left: inherit; }
    .ovan-online .list-social.list-tiktok .row.top-social .box-social .info-social {
      margin-top: 20px;
      padding: 0 10px; }
      .ovan-online .list-social.list-tiktok .row.top-social .box-social .info-social .btn-common {
        font-size: 14px;
        padding-left: inherit;
        margin: 5px;
        padding: 12px 10px 10px 10px; }
      .ovan-online .list-social.list-tiktok .row.top-social .box-social .info-social p {
        padding: 0; }
      .ovan-online .list-social.list-tiktok .row.top-social .box-social .info-social .btn-common {
        text-align: center; }

  .success-page .section-cart.pt-0 .shipper {
    text-align: left; }
  .success-page .section-cart.pt-0 .row.head-order-detail .title-order-details {
    margin-bottom: 10px; }

  .title-section a {
    font-size: 24px !important; }

  .section-product .pattern {
    top: -118px; }

  .section-product.sp-theo-cong-dung.mb-50 {
    padding-top: 0px; }
    .section-product.sp-theo-cong-dung.mb-50 .content-sp-theo-cong-dung .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%; }

  .section-news .col-md-7 .box-news .infor-news .title-news.lager a {
    font-size: 14px; }
  .section-news .col-md-5 .item-news-right {
    margin-bottom: 10px; }
    .section-news .col-md-5 .item-news-right .row {
      flex-direction: column-reverse; }
      .section-news .col-md-5 .item-news-right .row .col-md-6 {
        margin-top: 8px; }

  .banner-about .col-infor-promo p {
    padding-right: 0; }

  .btn-common {
    width: 100%;
    margin: 5px 10px 5px 0; }

  .section-slider-home .owl-nav {
    margin-bottom: -50px; }
  .section-slider-home .owl-dots {
    bottom: -28px; }

  .pagging-page {
    margin-bottom: 50px !important;
    margin-bottom: inherit !important;
    margin-top: -25px !important; }
    .pagging-page .pagination a {
      margin: 0 8px; }
    .pagging-page li a {
      margin: 0 8px !important; }
    .pagging-page li span {
      width: 30px;
      height: 30px;
      margin: 0 5px;
      font-size: 13px; }

  .page-contact .he-thong-cua-hang .thong-tin-lien-he {
    display: inherit !important; }

  .page-contact .content-hotline {
    display: block !important; }

  .banner-head-policy.mt-20.mb-20 img {
    height: 90px; }

  .sp-noibat-page-about {
    padding: 80px 20px 40px 20px !important; }
    .sp-noibat-page-about .list-product .item-product .info-product {
      padding: 20px 10px 10px 10px; }
      .sp-noibat-page-about .list-product .item-product .info-product .btn-common {
        font-size: 12px;
        padding: 8px 10px 10px 10px;
        height: 35px; }
        .sp-noibat-page-about .list-product .item-product .info-product .btn-common i {
          margin-left: 6px;
          font-size: 13px; }

  .page-brochure .banner-horizontal {
    padding: 0; }

  .section-nhan-hang-noibat {
    padding: 40px 5px; }
    .section-nhan-hang-noibat .ds-nhan-hang {
      padding: 0 10px !important; }
      .section-nhan-hang-noibat .ds-nhan-hang .col-md-3 {
        width: 50%; }
      .section-nhan-hang-noibat .ds-nhan-hang .col-md-9 .row {
        padding-left: 0px; }
      .section-nhan-hang-noibat .ds-nhan-hang .row {
        justify-content: center; }
        .section-nhan-hang-noibat .ds-nhan-hang .row.list-second {
          padding-left: 0px; }
          .section-nhan-hang-noibat .ds-nhan-hang .row.list-second .col-md-2 {
            width: 50%; }

  .page-news .cate-news.mt-10 ul {
    width: 360px;
    padding: 5px 0; }
    .page-news .cate-news.mt-10 ul a {
      font-size: 10px; }
  .page-news .cate-news.mt-10 .container {
    padding: 0px; }
  .page-news .section-news-lager {
    padding: 30px 0 0 0; }
    .page-news .section-news-lager .row {
      flex-direction: column-reverse; }
    .page-news .section-news-lager .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%; }
    .page-news .section-news-lager .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%; }
    .page-news .section-news-lager .infor-news .content-title-news {
      margin-bottom: 10px; }
      .page-news .section-news-lager .infor-news .content-title-news a {
        font-size: 18px !important; }
  .page-news .detail-news {
    padding: 0; }
    .page-news .detail-news .detail-left h1 a {
      font-size: 24px; }
    .page-news .detail-news .detail-left .mt-20.mb-20 {
      padding-top: 5px;
      margin-top: 0px; }
    .page-news .detail-news .col-md-4 {
      padding-top: 0px; }
      .page-news .detail-news .col-md-4 .tin-xem-nhieu {
        overflow: hidden; }
        .page-news .detail-news .col-md-4 .tin-xem-nhieu .item-news-right.mt-10 {
          padding: 0px 15px;
          width: 48%;
          float: left; }
      .page-news .detail-news .col-md-4 .row .col-md-5.pr-0 {
        padding-right: 15px; }

  .page-detail .section-product.mt-30 .btn-action.center {
    margin-bottom: 50px; }
  .page-detail .head-product-detail .infor-product-detail .product-affiliate img {
    margin-right: 30px; }
  .page-detail .head-product-detail .infor-product-detail .mt-20 {
    padding-left: 25px; }
  .page-detail .head-product-detail .lSSlideOuter a img {
    height: inherit !important; }
  .page-detail .head-product-detail .infor-product-detail .row .col-md-6.pr-0 {
    padding-right: 15px !important;
    padding-bottom: 10px; }
  .page-detail .head-product-detail .infor-product-detail .product-name {
    font-size: 24px; }
  .page-detail .section-feeback-detail.mb-50 .owl-dots {
    padding-top: 25px; }
  .page-detail .section-feeback-detail.mb-50 .owl-nav .owl-prev {
    margin: -35px; }
  .page-detail .section-feeback-detail.mb-50 .owl-nav .owl-next {
    margin: -35px; }
  .page-detail .section-feeback-detail.mb-50 .content-feedback .name-feedback {
    margin: 20px 0 0; }
  .page-detail .section-feeback-detail.mb-50 .content-feedback .img-small {
    top: 45px !important; }
  .page-detail .sticky-cart-product.show-sticky-cart-product {
    padding: 10px 0 5px 0; }
    .page-detail .sticky-cart-product.show-sticky-cart-product .box-sticky {
      padding: 0 15px; }
      .page-detail .sticky-cart-product.show-sticky-cart-product .box-sticky .ava-product {
        display: none; }
  .page-detail .detail-description.mt-50.mb-40 .content-description {
    padding-left: 25px; }

  .section-product {
    padding: 0 20px; }
    .section-product .list-product .item-product .info-product {
      padding: 20px 0px 10px 0px !important; }
      .section-product .list-product .item-product .info-product .old-price {
        margin-right: 0px;
        font-size: 13px; }
      .section-product .list-product .item-product .info-product .new-price {
        font-size: 14px;
        margin-right: 3px; }

  .section-cart.pt-0 .container .row {
    display: inherit; }
    .section-cart.pt-0 .container .row .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0px; }
      .section-cart.pt-0 .container .row .col-md-8 .box-shadow {
        padding: 5px 20px; }
        .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product thead {
          display: none; }
        .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product tbody {
          font-size: 13px; }
          .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product tbody tr {
            padding-top: 0px;
            display: inline-block; }
          .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product tbody .product-thumbnail {
            position: relative;
            padding-left: 40px; }
          .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product tbody .product-remove {
            position: absolute;
            left: 10px;
            padding-top: 22px; }
          .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product tbody td {
            width: inherit;
            padding: 0px 5px 20px; }
            .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product tbody td .product-quantity {
              padding: 0 8px;
              width: 100px; }
            .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product tbody td.product-remove {
              width: 30px; }
    .section-cart.pt-0 .container .row .col-md-4.pl-0 {
      padding-right: 0;
      margin-top: 40px;
      flex: 0 0 100%;
      max-width: 100%; }
      .section-cart.pt-0 .container .row .col-md-4.pl-0 .show-add-address.mt-20 .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%; }
        .section-cart.pt-0 .container .row .col-md-4.pl-0 .show-add-address.mt-20 .col-md-6.pr-0 .form-group {
          padding-right: 15px; }

  .success-page .section-cart.pt-0 .continue-buy.mt-40 {
    margin-top: 25px; }

  .page-danh-muc-sp {
    padding: 0; }
    .page-danh-muc-sp .list-product {
      padding: 0;
      margin-bottom: 0px; }

  .banner-horizontal {
    padding: 0;
    margin: 0 !important; }

  .page-profile .section-acc.pt-0 {
    padding: 0;
    margin-top: 40px; }
    .page-profile .section-acc.pt-0 .tabs-info.mt-60 {
      margin-top: 15px; }
    .page-profile .section-acc.pt-0 .tab-content.mt-30 {
      margin-bottom: 0px; }
    .page-profile .section-acc.pt-0 .nav-item a {
      font-size: 14px; }
    .page-profile .section-acc.pt-0 .has-cart .payment-success.box-shadow {
      padding-bottom: 70px; }
    .page-profile .section-acc.pt-0 .has-cart .status-order.mt-30 {
      display: inherit; }
      .page-profile .section-acc.pt-0 .has-cart .status-order.mt-30 .shipper {
        padding-bottom: 15px; }
      .page-profile .section-acc.pt-0 .has-cart .status-order.mt-30 .shop-total {
        left: 20px; }

  .page-cart .title-section {
    margin: 20px 0 5px 0; }

  .section-nhan-hang {
    padding: 90px 0; }
    .section-nhan-hang .slider-nhan-hang.owl-carousel.owl-theme.owl-loaded.owl-drag {
      padding: 0 20px; }
      .section-nhan-hang .slider-nhan-hang.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-stage-outer .owl-item {
        margin: 7px !important; }
      .section-nhan-hang .slider-nhan-hang.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-dots {
        bottom: -15px; }
      .section-nhan-hang .slider-nhan-hang.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-prev {
        margin: -20px; }
      .section-nhan-hang .slider-nhan-hang.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-next {
        margin: -20px; }
      .section-nhan-hang .slider-nhan-hang.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-nav {
        margin-bottom: -200px; }

  .section-product.sp-theo-cong-dung.mb-50 {
    margin-top: 40px; }
    .section-product.sp-theo-cong-dung.mb-50 .content-sp-theo-cong-dung .col-md-4 {
      width: 100%; }
      .section-product.sp-theo-cong-dung.mb-50 .content-sp-theo-cong-dung .col-md-4 .content .tags-sp {
        margin: 5px 1px;
        padding-right: 5px; }
    .section-product.sp-theo-cong-dung.mb-50 .title-section {
      margin: 100px 0 15px 0; }

  .section-acc.pt-0 .tab-pane.container.active {
    padding: 0; }

  .page-brochure-detail .sp-noibat-page-about .banner-vertical.thumnaisl-avatar {
    margin-bottom: 50px; }
  .page-brochure-detail .list-social {
    padding: 40px 20px; }

  .list-product .item-product .info-product .price .old-price {
    margin-right: 5px;
    font-size: 13px; }

  header .menu-mobile {
    top: 13px; }
    header .menu-mobile i.ti-menu {
      font-size: 30px; }
  header .right-head {
    position: fixed;
    top: 10px;
    right: 100px; }
    header .right-head .cart {
      margin-right: 15px; }
      header .right-head .cart img {
        height: 30px;
        width: 30px; }
    header .right-head .account img {
      height: 35px;
      width: 35px; }
  header .menu-mobile .ti-menu {
    color: #572885; }
  header .btn-search-mb {
    display: block;
    background: #F0F5FA;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 11px;
    position: absolute;
    right: 55px; }
    header .btn-search-mb .ti-search {
      color: #959FAB; }
  header .content-head {
    padding-right: 10px; }
    header .content-head .search-head {
      display: none; }
      header .content-head .search-head input {
        padding-right: 10px; }
  header .content-head {
    width: 100%; }
  header .top-head.show-search-mb .search-head {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    transition: 0.5s;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05); }
    header .top-head.show-search-mb .search-head i {
      border-radius: 0; }
  header .top-head.show-search-mb .close-search {
    display: block; }
  header .top-head.show-search-mb input {
    border-radius: 0; }
  header .top-head.show-search-mb .ti-search {
    display: none; }
  header .top-head.show-search-mb .top-head {
    position: absolute;
    top: 15px;
    width: 100%;
    left: 0; }

  footer .head-footer.p30 {
    padding: 0px; }
    footer .head-footer.p30 .text-head-ft a {
      font-size: 12px; }
      footer .head-footer.p30 .text-head-ft a img {
        width: 24px;
        height: 24px; } }
@media only screen and (max-width: 320px) {
  .section-news-lager .infor-news .content-title-news a {
    font-size: 18px; }

  .he-thong-cua-hang.mt-40 .box-store .col-md-6 {
    padding-right: 0px;
    padding-left: 0px; }

  .list-product .item-product .percent-sale {
    padding: 0px 4px;
    top: 10px;
    left: 8px; }

  .list-product .item-product .info-product .price .old-price {
    margin-right: 0px;
    font-size: 13px; }

  .list-product .item-product .info-product .price .cart-quantity {
    color: #6A6A6A;
    font-size: 13px; }

  .page-brochure {
    font-size: 13px; }
    .page-brochure .sp-noibat-page-about .list-product .info-product {
      padding: 20px 0px 10px 0px; }

  .section-feeback-detail.mb-50 .owl-nav .owl-prev {
    top: 45%; }
  .section-feeback-detail.mb-50 .owl-nav .owl-next {
    top: 45%; }
  .section-feeback-detail.mb-50 .detail-feedback .icon-quote {
    top: -22px; }
  .section-feeback-detail.mb-50 .detail-feedback p {
    padding: 10px; }

  .number-buy .add-to-cart .btn-common {
    padding: 13px 10px 10px 10px; }
    .number-buy .add-to-cart .btn-common img {
      display: none; }
  .number-buy .product-quantity {
    width: 100px; }
    .number-buy .product-quantity .horizontal-quantity {
      font-size: 14px;
      width: 35px; }

  .section-product .list-product .col-md-3 {
    padding-bottom: 20px; }

  .section-product.mt-30 {
    padding: 30px 50px; }

  .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product tbody tr {
    padding-left: 0px; }
    .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product tbody tr .product-thumbnail {
      padding-left: 15px !important; }
  .section-cart.pt-0 .container .row .col-md-8 .box-shadow .table-cart-product tbody .product-remove {
    left: 0; }

  .success-page .payment-success.box-shadow .shop-total .total-amount {
    margin-left: 120px; }

  .page-profile .section-acc.pt-0 .has-cart .custom_checkcart {
    padding-left: 20px; }
    .page-profile .section-acc.pt-0 .has-cart .custom_checkcart .label-custom {
      margin-left: 20px; }

  .banner-horizontal .product-promotion .col-infor-promo {
    padding: 0; }
    .banner-horizontal .product-promotion .col-infor-promo p {
      padding-right: 0;
      margin-bottom: 15px; }
    .banner-horizontal .product-promotion .col-infor-promo a {
      margin-bottom: 10px;
      width: 100%; }
  .banner-horizontal .product-promotion .col-avatar-promo {
    margin-top: 20px; }

  .page-about .linh-vuc-hd {
    padding-top: 80px; }
    .page-about .linh-vuc-hd .item-lv {
      padding: 20px 10px; }

  .page-profile .section-acc.pt-0 .nav-item a {
    font-size: 11px; }
  .page-profile .section-acc.pt-0 .tabs-info.mt-60 {
    margin-top: 25px; }

  .page-news .cate-news.mt-10 ul {
    width: 275px; }
    .page-news .cate-news.mt-10 ul li {
      margin: 0 5px; }
  .page-news .section-list-news .infor-news .cate-name h6 a {
    font-size: 11px; }

  .pagging-page .pagination .page-item a {
    margin: 0 5px !important; }

  .page-list-store .he-thong-cua-hang.pt-0 .box-store .form-group .select-selected {
    padding-left: 2px; }
  .page-list-store .he-thong-cua-hang.pt-0 .box-store .col-md-6.pl-0 {
    margin-top: -20px; }

  /*-------------------------------------------------------------------- end page ----------------------------------------------------------------------*/ }
/*-------------------------------------------------------------------- @media 1600px ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------- @media 1200px ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------- @media 950px ----------------------------------------------------------------------*/
@media only screen and (max-width: 950px) {
  /* Menu */
  .menu nav ul li {
    padding: 10px 0; }

  .menu-mobile {
    position: fixed;
    top: 20px;
    right: 15px; }
    .menu-mobile i {
      font-size: 20px;
      color: #6A6A6A; }
      .menu-mobile i.ti-close {
        display: none !important; }
      .menu-mobile i.ti-menu {
        display: block !important; }

  .show-menu .menu-mobile i.ti-close {
    display: block !important; }
  .show-menu .menu-mobile i.ti-menu {
    display: none !important; }
  .show-menu nav {
    display: inline-block !important; }

  header {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 9999; }
    header .logo img {
      height: 25px; }
    header nav {
      display: none !important;
      position: fixed;
      left: 0;
      top: 50px;
      width: 100%;
      height: 100%;
      background: white;
      box-shadow: inset 17px -14px 20px 0px rgba(0, 0, 0, 0.04);
      border-top: 0;
      padding: 0 !important;
      scroll-behavior: smooth;
      transition: all 0.2s ease-in-out; }
      header nav ul {
        display: inline-block !important;
        width: 100%; }
        header nav ul li {
          width: 100%; }
          header nav ul li a {
            width: 100%;
            display: inline-block;
            font-size: 16px !important; }
    header .menu nav ul li:hover ul {
      position: relative;
      top: 10px !important;
      width: 100% !important;
      box-shadow: none;
      border-radius: 0;
      background: #046e4508; }
    header .menu nav ul > li > a::before {
      font-size: 16px;
      right: 15px;
      top: 0px; }

  .content-head {
    padding-right: 80px; }

  /* Search  */
  .search-head input {
    border: 1px solid #e5e5e5; }

  .section-slider-home {
    padding-top: 55px; }
    .section-slider-home .head-slider-home h1 {
      font-size: 32px;
      top: 35px;
      left: 120px; } }
/*-------------------------------------------------------------------- @media 767px ----------------------------------------------------------------------*/

/*# sourceMappingURL=responsive.css.map */
